#date {
  width: 100px;
  position: absolute;
  top: 114px;
  padding-left: 17px;
  padding-top: 17px;
  background-color: #ffffff;
  color: #2F4254;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; }
